@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}
.wrapper{
    background-color: white;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/*Sign Up Form CSS Style*/
.form{
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form{
    margin: 20px 0;
}

.form form .error-txt{
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .name-details{
    display: flex;
}

.form form .name-details .field:first-child{
    margin-right: 10px;
}

.form form .name-details .field:last-child{
    margin-left: 10px;
}


.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form label{
    margin-bottom: 2px;
}

.form form .field input{
    outline: none;
}

.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .image input{
    font-size: 17px;
}

.form form .button input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form form .field i.active::before{
    content: "\f070";
    color: #333;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a{
    color: #333;
}

.form .link a:hover{
    text-decoration: underline;
}

/*user page css*/

.users{
    padding: 25px 30px;
}

.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details{
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    background-color: #333;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background-color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.2s ease;
}

.users div.add-user{
    width: 100%;
    margin-bottom: 20px;
}

.users .modal-background.active{
    visibility: visible;
}

.users .modal-background{
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.users .add-modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.users .add-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%) scale(0.001);
    background-color: white;
    padding: 20px 30px;
    border-radius: 16px;
    transition: all 0.5s ease;
    transform-origin: center center;
}



.users .add-user button{
    background-color: #333;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
}

.users .add-user-btn button.saved{
    background-color: yellowgreen;
    color: forestgreen;
    pointer-events: none;
}

.users button.add{
    width: 90%;
    margin: 0 auto;
}



.users .add-form form{
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #67676a;
}

.users .add-form input{
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    height: 30px;
    margin: 20px 0 10px 0;
    border: 1px solid #ccc;
}

.users .add-user .add-modal .user-found img{
    width: 40px;
    height: 40px;
}

.users .add-user .add-modal .user-found{
    padding-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.users .add-user .add-modal .user-found.active{
    display: flex;
}

.users .add-user .add-modal .user-notfound,
.users .add-user .add-modal .input-invalid{
    height: 40px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 16px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

:is(.users .add-user .add-modal .user-notfound,
.users .add-user .add-modal .input-invalid).active{
    display: flex;
}



.users .search button.active{
    background-color: #333;
    color: white;
}

.users .search button.active i::before{
    content: "\f00d";
}

.users-list{
    max-height: 350px;
    overflow-y: auto;
}
:is(.users-list, .chat-box){
    scrollbar-width: none;
    -ms-overflow-style: none;
}


:is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0px;
    display: none;
}

.users-list a{
    padding-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-of-type{
    border: none;
    margin-bottom: 0;
}

.user-notavailable{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 52px;
}

.users-list a .content img{
    width: 40px;
    height: 40px;
}

.users-list a .content p{
    color: #67676a;
}


.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

/*Offine users*/
.users-list a .status-dot.offline{
    color: #ccc;
}

.users-list .taller{
    height: 25px;
}
/*Chat area css*/
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon{
    font-size: 18px;
    color: #333;
}

.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    background-color: #f7f7f7;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat{
    margin: 15px 0;
}

.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing{
    display: flex;
}

.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p{
    background-color: #333;
    color: white;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming{
    display: flex;
    align-items: center;
}

.chat-box .incoming img{
    height: 35px;
    width: 35px;
}

.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.typing-area button.not-send{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #686565;
}